<h1>Welcome Admin</h1>




<div class="card">
  <div class="card-header">
    <i class="fa fa-eye 2x"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">View All Items Present In Systems</h5>
    <p class="card-text">Admin can View all the items present in database and perform some actions</p>
    <%= link_to "View All Items", all_items_path, class: "btn btn-primary" %>

   </div>
</div>


<div class="card">
  <div class="card-header">
    <i class="fa fa-street-view 2x"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">View All Users Present In Systems</h5>
    <p class="card-text">Admin can View all the users present in database and perform some actions</p>
    <%= link_to "View All Users", all_users_path,  class: "btn btn-primary" %>
  </div>
</div>




<div class="card">
  <div class="card-header">
  <i class="fa fa-plus-circle"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Add A New Item To System</h5>
    <p class="card-text">Admin can add a new item in database and perform some actions</p>
    <%= link_to "Add New Item", new_item_path, class: "btn btn-primary" %>
  </div>
</div>
